:root {
    --lightgray: #d3d6da;
    --gray: #787c7e;
    --green: #6aaa64;
    --yellow: #c9b458;
    --extracolor: darkcyan;
}

body {
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

main {
    display: grid;
    justify-items: center;
    gap: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: fit-content;
}

.letter-box {
    display: grid;
    place-items: center;
    font-size: 20pt;
    color: black;
    height: 4.5rem;
    width: 4.5rem;
    border: 2px solid var(--lightgray);
    text-transform: uppercase;
    transition: background-color .8s ease, border-color .8s ease;
}

.letter-box.shake {
    animation: shake .15s ease-in infinite;
}

.letter-box.flourish {
    animation: flourish 1s linear;
}

.yellow {
    color: white;
    border-color: var(--yellow);
    background-color: var(--yellow);
}

.green {
    color: white;
    border-color: var(--green);
    background-color: var(--green);
}

.gray {
    color: white;
    border-color: var(--gray);
    background-color: var(--gray);
}

.keyboard {
    display: grid;
    row-gap: 5px;
}

.keyboard>div {
    display: flex;
    gap: 5px;
    justify-content: center;
}

button {
    all: unset;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--lightgray);
    color: black;
    width: 2rem;
    height: 3rem;
    border-radius: .3rem;
    padding: .5rem;
}

.keyboard button {
    transition: background-color .1s ease, outline-color .1s ease;
}

button:focus-visible,
button:hover {
    outline: 1px solid var(--extracolor);
}

button:active,
button.fired {
    background-color: var(--extracolor);
    outline-color: none;
}

.keyboard button[data-key="Enter"],
.keyboard button[data-key="Backspace"] {
    width: 4rem;
}

dialog {
    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: center;
    height: 60vh;
    width: 60vh;
    max-width: 95svw;
    max-height: 95svh;
    border: 1px solid var(--extracolor);
    border-radius: 3px;
    outline: none;
}

.modal-content-div {
    display: grid;
    place-items: center;
    row-gap: 3rem;
}

.modal-button-div {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row-reverse nowrap;
    gap: 3rem;
}

.modal-button-div button {
    width: 10rem;
}

.results {
    display: grid;
    row-gap: 5px;
}

.results p {
    font-size: 20pt;
    margin: 0px 0px 8px 0px;
    text-align: center;
    text-transform: uppercase;

}

.results>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.results>div>div {
    height: 2.5rem;
    width: 2.5rem;
}

@keyframes shake {
    0% {
        transform: translateX(-.5rem);
    }

    50% {
        transform: translateX(.5rem);
    }

    100% {
        transform: translateX(-.5rem);
    }
}

@keyframes flourish {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.4) rotate(180deg);
        background-color: var(--extracolor);
        border-color: var(--yellow)
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}